{
  stdenv,
  lib,

  # Build tools
  meson,
  ninja,
  {% if use_pkg_config -%}
  pkg-config,
  {%- endif %}
}:
stdenv.mkDerivation {
  name = "{{ project_name }}";
  src = lib.cleanSource ./.;

  nativeBuildInputs = [
    meson
    ninja
    {% if use_pkg_config -%}
    pkg-config
    {%- endif %}
  ];
}
