{
  description = "{{ description }}";

  inputs = {
    nixpkgs.url = "github:nixos/nixpkgs?ref=nixpkgs-unstable";
    flake-parts.url = "github:hercules-ci/flake-parts";

    nixcode = {
      url = "github:Dessera/nixcode";
      inputs.nixpkgs.follows = "nixpkgs";
      inputs.flake-parts.follows = "flake-parts";
    };
  };

  outputs =
    { flake-parts, ... }@inputs:
    flake-parts.lib.mkFlake { inherit inputs; } (
      { withSystem, ... }:
      {
        systems = [ "x86_64-linux" ];

        perSystem =
          {
            self',
            pkgs,
            system,
            ...
          }:
          let
            stdenv = {% if compiler == "gcc" -%}
              pkgs.gcc{{ gcc_version }}Stdenv
            {%- elif compiler == "clang" -%}
              {% if use_libcxx -%}
                pkgs.llvmPackages_{{ clang_version }}.libcxxStdenv
              {%- else -%}
                pkgs.clang{{ clang_version }}Stdenv
              {%- endif %}
            {%- endif %};

            clang-tools = pkgs.callPackage ./.nix-support/clang-tools.nix {
              inherit stdenv;
            };

            codium = withSystem system ({ inputs', ... }: inputs'.nixcode.packages.c_cpp);
          in
          {
            packages.default = pkgs.callPackage ./default.nix { inherit stdenv; };
            devShells.default =
              pkgs.mkShell.override
                {
                  inherit stdenv;
                }
                {
                  inputsFrom = [ self'.packages.default ];

                  packages =
                    (with pkgs; [
                      nixd
                      nixfmt-rfc-style
                      mesonlsp
                    ])
                    ++ [
                      clang-tools
                      codium
                    ];
                };
          };
      }
    );
}
