{% import '.jinja/targets.jinja' as tg with context -%}

project(
  '{{ project_name }}',
  '{{ language }}',
  version: '{{ version }}',
  default_options: ['warning_level=3', 
    {%- if language == 'c' -%}
    'c_std={{ c_std }}'
    {%- else -%}
    'cpp_std={{ cpp_std }}'
    {%- endif -%}
  ],
)

{% if tg.has_shared or tg.has_static -%}
lib_src = files('src/{% include 'name-lib.jinja' %}')
lib_inc = include_directories('include')

install_subdir('include/{{ project_name }}', install_dir: 'include')
{%- endif %}

{% if tg.has_shared -%}
shlib = shared_library(
  '{{ project_name }}',
  lib_src,
  include_directories: lib_inc,
  install: true,
)
dep_{{ project_name }}_shared = declare_dependency(include_directories: lib_inc, link_with: shlib)
{%- endif %}

{% if tg.has_static -%}
stlib = static_library(
  '{{ project_name }}',
  lib_src,
  include_directories: lib_inc,
  install: true,
)
dep_{{ project_name }}_static = declare_dependency(include_directories: lib_inc, link_with: stlib)
{%- endif %}

{% if tg.has_exe -%}
inc = include_directories('include')
src = files('src/{% include 'name-exe.jinja' %}')
deps = [
  {%- if tg.has_shared -%}
  dep_{{ project_name }}_shared
  {%- elif tg.has_static -%}
  dep_{{ project_name }}_static
  {%- endif -%}
]

exe = executable(
  '{{ project_name }}',
  src,
  include_directories: inc,
  dependencies: deps,
  install: true,
)

test('{{ project_name }}', exe)
{%- endif %}

{% if use_pkg_config and tg.has_lib -%}
libs = [
  {%- if tg.has_shared -%}
  shlib
  {%- elif tg.has_static -%}
  stlib
  {%- endif -%}
]

pkg_mod = import('pkgconfig')
pkg_mod.generate(
  name: '{{ project_name }}',
  filebase: '{{ project_name }}',
  description: '{{ description }}',
  libraries: libs,
  version: '{{ version }}',
)
{%- endif %}