project(
  '{{ project_name }}',
  '{{ language }}',
  version: '{{ version }}',
  default_options: [
    'warning_level=3', 
    {%if language == 'c' -%}
    'c_std={{ c_std }}'
    {%- else -%}
    'cpp_std={{ cpp_std }}'
    {%- endif %}
  ],
)

incd = include_directories('include')
src = files('src/{% include 'name-src.jinja' %}')

exe = executable(
  '{{ project_name }}',
  src,
  include_directories: incd,
  install: true,
)