{% if targets | select("==", "shared") | list | count > 0 or targets | select("==", "static") | list | count > 0 -%}
{% if language == 'c' -%}
{{ project_name }}.c
{%- else -%}
{{ project_name }}.cpp
{%- endif %}
{%- endif %}